@charset 'utf-8';
.nav {
  width: 100%;
  background-color: #f2f2f2;
  font-size: 16px;
}
.nav > .set-nav {
  margin: 0 auto;
  width: 1190px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
}
.nav > .set-nav > .left-nav {
  width: 306px;
  height: 35px;
  line-height: 35px;
  font-size: 12px;
  color: #999;
  display: flex;
}
.nav > .set-nav > .left-nav li {
  padding: 0px 4px;
}
.nav > .set-nav > .left-nav li:nth-child(3),
.nav > .set-nav > .left-nav li:nth-child(4) {
  padding: 0px 8px;
}
.nav > .set-nav > .left-nav li a {
  color: #6c6c6c;
  font-size: 12px;
}
.nav > .set-nav > .left-nav li i {
  color: #ff0000;
}
.nav > .set-nav > .left-nav li a:hover {
  color: red;
}
.nav > .set-nav > .right-nav {
  width: 600px;
  height: 35px;
  font-size: 12px;
  text-align: center;
  line-height: 35px;
  display: flex;
  justify-content: space-between;
}
.nav > .set-nav > .right-nav li {
  padding: 0px 4px;
}
.nav > .set-nav > .right-nav li a {
  color: #6c6c6c;
  font-size: 12px;
}
.nav > .set-nav > .right-nav li > span {
  display: block;
  text-align: center;
  margin-top: 13px;
  width: 2px;
  height: 10px;
  background-color: rgba(179, 179, 179, 0.592);
}
.nav > .set-nav > .right-nav li i {
  color: red;
}
.nav > .set-nav > .right-nav li a:link {
  color: #666 !important;
}
.nav > .set-nav > .right-nav li a:hover {
  color: red !important;
}
.nav > .set-nav > .right-nav li i[class$="sanjiaoxing"] {
  margin-left: -4px;
  color: #999;
}
.nav > .set-nav > .right-nav li:hover > i[class$="sanjiaoxing"] {
  transition: all 0.5s;
  display: inline-block;
  transform: rotate(180deg);
}
.nav > .set-nav > .right-nav > .menu {
  position: relative;
  padding-left: 10px;
}
.nav > .set-nav > .right-nav > .menu:hover {
  background-color: #fff;
}
.nav > .set-nav > .right-nav > .menu:hover > .two-menu {
  display: block;
  background-color: #fff;
}
.nav > .set-nav > .right-nav > .menu > .two-menu {
  position: absolute;
  width: 90px;
  padding: 10px 0px;
  padding-left: 10px;
  left: 0px;
  top: 35px;
  text-align: left;
  line-height: normal;
  background-color: #fff;
  display: none;
}
.nav > .set-nav > .right-nav > .menu > .two-menu > p {
  margin-top: 8px;
}
.nav > .set-nav > .right-nav > .menu > .two-menu p > a {
  color: #666;
}
.nav > .set-nav > .right-nav > .menu > .two-menu2 {
  position: absolute;
  padding: 8px 8px;
  right: 0px;
  top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  display: none;
  background-color: #fff;
}
.nav > .set-nav > .right-nav > .menu > .two-menu2 > dl {
  display: block;
}
.nav > .set-nav > .right-nav > .menu > .two-menu2 > dl dd {
  margin-top: 2px;
}
.nav > .set-nav > .right-nav > .menu > .tz1 > div {
  width: 100px;
  margin-right: 4px;
  line-height: 30px;
}
.nav > .set-nav > .right-nav > .menu > .tz2 > div {
  width: 64px;
  margin-right: -9px;
  line-height: 30px;
  text-align: left;
}
.nav > .set-nav > .right-nav > .menu:hover .two-menu2 {
  display: block;
}
