@charset 'utf-8';
div.details > div.main_box {
  width: 990px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
div.details > div.main_box > div.left_nav {
  width: 187px;
}
div.details > div.main_box > div.left_nav > div.shopbox {
  height: 174px;
  display: flex;
  flex-direction: column;
}
div.details > div.main_box > div.left_nav > div.shopbox > div.shopName {
  height: 48px;
  color: #333;
  font-size: 12px;
  line-height: 48px;
  text-align: center;
  border: #999 1px solid;
}
div.details > div.main_box > div.left_nav > div.shopbox > div.shopName > a {
  color: #333;
}
div.details > div.main_box > div.left_nav > div.shopbox > div.shopName > a:hover {
  text-decoration: underline;
}
div.details > div.main_box > div.left_nav > div.shopbox > div.shopMessage {
  flex: 1;
  border: #999 1px solid;
  border-top: 0px;
  position: relative;
}
div.details > div.main_box > div.left_nav > div.shopbox > div.shopMessage > img {
  width: 100%;
}
div.details > div.main_box > div.left_nav > div.shopbox > div.shopMessage > span {
  display: block;
  width: 160px;
  height: 30px;
  position: absolute;
  top: 98px;
  left: 15px;
  cursor: pointer;
}
div.details > div.main_box > div.left_nav > div.shopbox > div.skin-box {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  height: 100px;
  padding: 10px;
}
div.details > div.main_box > div.left_nav > div.shopbox > div.skin-box > ul > li:nth-child(1) {
  padding-bottom: 8px;
}
div.details > div.main_box > div.left_nav > div.shopbox > div.babybox {
  height: 14px;
  padding: 8px;
  text-align: left;
  background-color: #ccc;
  line-height: 14px;
  font-size: 12px;
  color: #666;
  font-weight: 800;
  margin-top: 20px;
}
div.details > div.main_box > div.left_nav > div.shopbox > ul.classbox {
  color: #333;
}
div.details > div.main_box > div.left_nav > div.shopbox > ul.classbox > li {
  padding: 8px;
  cursor: pointer;
}
div.details > div.main_box > div.left_nav > div.shopbox > ul.classbox > li:hover {
  background-color: #666;
}
div.details > div.main_box > div.rightContent {
  width: 787px;
  display: flex;
  flex-direction: column;
}
div.details > div.main_box > div.rightContent > div.top_nav {
  height: 48px;
  border: 1px solid #999;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0px;
}
div.details > div.main_box > div.rightContent > div.top_nav > div.left {
  display: flex;
  width: 300px;
}
div.details > div.main_box > div.rightContent > div.top_nav > div.left > p {
  flex: 1;
  padding: 0px 10px;
  font-size: 12px;
  text-align: center;
  line-height: 48px;
  border-right: 1px solid #999;
  cursor: pointer;
}
div.details > div.main_box > div.rightContent > div.top_nav > div.right {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  align-items: center;
  cursor: pointer;
  position: relative;
}
div.details > div.main_box > div.rightContent > div.top_nav > div.right > i {
  display: block;
  padding: 0px 4px;
  font-size: 24px;
  color: #999;
}
div.details > div.main_box > div.rightContent > div.top_nav > div.right > img {
  width: 175px;
  height: 175px;
  position: absolute;
  top: 48px;
  right: 0px;
  display: block;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
  display: none;
}
div.details > div.main_box > div.rightContent > div.top_nav > div.right:hover i.icon-icon_sanjiaoxing {
  transform: rotate(180deg);
  transition: all 0.3s;
}
div.details > div.main_box > div.rightContent > div.top_nav > div.right:hover img {
  display: block;
}
div.details > div.main_box > div.rightContent > div.definitePage {
  height: 223px;
  border: #999 1px solid;
  margin-bottom: 20px;
}
div.details > div.main_box > div.rightContent > div.definitePage > img {
  width: 100%;
  height: 223px;
  display: block;
}
div.bottom_img {
  width: 1920px;
  margin: 0 auto;
}
div.bottom_img > img {
  display: block;
  width: 100%;
}
footer {
  margin-top: 10px;
  height: 395px;
  width: 100%;
  background-color: #543ed4;
  display: inline-table;
}
footer > div.w > .tm-wrap {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 256px;
  margin-top: 40px;
  display: flex;
  border-bottom: 1px solid #fff;
}
footer > div.w > .tm-wrap > div.left {
  width: 360px;
}
footer > div.w > .tm-wrap > div.left > p {
  padding-bottom: 20px;
  color: #fff;
  font-size: 12px;
}
footer > div.w > .tm-wrap > div.left > div {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 12px;
  color: #fff;
  left: 248px;
  top: 4px;
  line-height: 26px;
}
footer > div.w > .tm-wrap > div.left > div > img {
  width: 96px;
  height: 96px;
  padding: 4px;
  background-color: #fff;
  border-radius: 4px;
}
footer > div.w > .tm-wrap > div.right {
  width: 840px;
  display: flex;
  justify-content: flex-end;
}
footer > div.w > .tm-wrap > div.right > dl {
  padding-left: 100px;
  color: #fff;
  font-size: 12px;
}
footer > div.w > .tm-wrap > div.right > dl > dt {
  font-size: 18px;
  padding-bottom: 20px;
}
footer > div.w > .tm-wrap > div.right > dl > dd {
  color: #ccc;
  padding-bottom: 8px;
}
footer div.w > div.botbox {
  height: 50px;
}
footer div.w > div.botbox a {
  color: #ccc;
}
footer div.w > div.botbox > ul {
  display: flex;
  font-size: 12px;
  width: 100%;
  margin-top: 20px;
}
footer div.w > div.botbox > ul > li {
  padding: 0px 6px;
  text-align: center;
}
footer div.w > div.botbox > ul > li:not(li.tz) {
  border-right: 1px solid #ccc;
}
footer div.w > div.botbox > ul > li > a {
  color: #ccc;
}
